.navigation__text {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    width: 77px;
}

.navigation__btn {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #000000;
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    border-radius: 3px;
    border: none;
    padding: 0;
}

@media screen and (max-width: 400px) {
    .navigation__text {
        font-size: 10px;
        text-align: center;
        width: 64px;
    }

    .navigation__btn {
        font-size: 10px;
        width: 54px;
        height: 26px;
    }
}
